<div class="login-form">
    <form class="login-form__content">
        <p class="login-form__title">Log In</p>
        <mat-form-field class="login-form__authorization-key">
            <mat-label>Authorization Key</mat-label>
            <input type="text" matInput [formControl]="authorizationKey" [errorStateMatcher]="matcher"
                placeholder="Ex. authorization key">
            @if (authorizationKey.hasError('required')) {
            <mat-error>Authorization key is <strong>required</strong></mat-error>
            }
        </mat-form-field>
    
        <div class="login-form__submit-btn" (click)="login()">
            <button mat-flat-button>Submit</button>
        </div>
    </form>
</div>  