<div class="products-list">
    @if (productsService.loading$ | async) {
        <div class="products-list__loader">
            <mat-spinner></mat-spinner>
        </div>
    } @else {
        <div class="products-list__add-btn">
            <button mat-flat-button extended (click)="openAddProductDialog(DialogMode.add)">
                <mat-icon>add</mat-icon>
                Add Product
            </button>
        </div>
        <table mat-table [dataSource]="dataSource">
    
            <!-- Index Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Index </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>
    
            <!-- SKU Column -->
            <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef> SKU </th>
                <td mat-cell *matCellDef="let element"> {{ element.sku }} </td>
            </ng-container>
    
            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
            </ng-container>
    
            <!-- Price Column -->
            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{ element.cost }} </td>
            </ng-container>
    
            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <div class="products-list__actions">
                        <button mat-icon-button aria-label="view button" (click)="openAddProductDialog(DialogMode.view, element)">
                            <mat-icon color="primary">visibility</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="edit button" (click)="openAddProductDialog(DialogMode.edit, element)">
                            <mat-icon color="primary">edit</mat-icon>
                        </button>
                        <button mat-icon-button aria-label="delete button" (click)="openDeleteProductDialog(element)">
                            <mat-icon color="warn">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
    
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" align="middle" [attr.colspan]="displayedColumns.length">
                    No data.
                </td>
            </tr>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
    }
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements" [class.products-list__hide-pagination]="(productsService.loading$ | async)">
    </mat-paginator>
</div>