.add-product-form {
    &__add-property-btn {
        display: flex;
        justify-content: end;

        button {
            border-radius: 6px;
        }
    }

    &__progress-bar {
        padding: 20px 0;
    }

    &__property {
        display: flex;
        gap: 20px;
        padding-top: 20px;
        
        mat-form-field {
            width: 100%;
        }

        button {
            margin-top: 9px;
        }
    }

    &__custom-property {
        
        ::ng-deep {
            &.mdc-text-field--filled:not(.mdc-text-field--disabled) {
                background-color: transparent;

                .mdc-line-ripple::before {
                    border: none;
                }
            }

            &.mat-mdc-form-field-subscript-wrapper {
                display: none;
            }

            &.mdc-text-field {
                padding-left: 0;
                margin-bottom: -10px;

                &.mat-mdc-text-field-wrapper:hover .mat-mdc-form-field-focus-overlay {
                    opacity: 0;
                }
            }

            .mdc-text-field--filled.mdc-text-field--disabled .mdc-line-ripple::before {
                border: none;
            }
        }
    }

    mat-dialog-actions {
        button {
            border-radius: 6px;
        }
    }

    mat-dialog-content {
        display: flex;
        flex-direction: column;
    }

    mat-checkbox {
        margin-bottom: 20px;
    }

    ::ng-deep {
        .mdc-text-field--filled.mdc-text-field--disabled {
            .mdc-floating-label,
            .mdc-text-field__input {
                color: inherit;
            }
    
            .mat-mdc-select-disabled {
                color: inherit;
            }
        }

        .mat-mdc-checkbox.mat-mdc-checkbox-disabled label {
            color: inherit;
        }

        .mdc-checkbox--disabled .mdc-checkbox__background {
            border-color: inherit;
        }

        .mdc-checkbox__native-control:disabled:checked~.mdc-checkbox__background {
            background-color: #005cbb;
        }

        .mdc-checkbox__native-control:disabled:indeterminate~.mdc-checkbox__background  {
            border-color: inherit;
            background-color: inherit;
        }

        .mdc-text-field--filled.mdc-text-field--disabled {
            background-color: transparent;
        }

        .mat-mdc-form-field .mat-mdc-select.mat-mdc-select-disabled .mat-mdc-select-arrow {
            display: none;
        }
    }
}